form{
   
    background-color: rgb(170, 138, 168);
    border: 2px solid black;
    border-radius: 20px 30px 20px 30px;
    align-items: center;
    width:400px;
    height: 500px;
    text-align: center;
    padding-left: 2%;
  padding-top: 5%;
}
label{
color: black;
font-weight: 500;
font-size: larger;
}
#submit{

background-color: green;
color: aliceblue;
font-size: larger;
font-weight: 300;
font-style: italic;

}
#reset{

color: aliceblue;
background-color: green;
font-size: larger;
font-weight: 300;
font-style: italic;

}