h1{
    padding-left: 400px;
   }
   form{
    background-color: rgb(29, 173, 149);
    border: 2px solid rgb(29, 21, 21);
    border-radius: 20px 30px 20px 30px;
    align-items: center;
    width:400px;
    height: 450px;
    padding-left: 2%;
  padding-top: 3%;
  margin-top: 2%;
  margin-left: 350px;
}
label{
color: black;
font-weight: 500;
font-size: larger;
}

input:read-only {
    background-color: #f0f0f0;
   cursor: not-allowed;
  }

#submit{

background-color: green;
color: aliceblue;
text-shadow: 1px 2px 1pc 2px;
font-size: larger;
font-weight: 300;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
border-bottom: 3px solid rgb(131, 19, 125);
height: 35px;
width: 100px;
margin-left: 120px;
margin-top: 4%;
}
#submit:hover{
    background-color: rgb(128, 0, 117);
color: aliceblue;
text-shadow: 1px 2px 1pc 2px;
font-size: larger;
font-weight: 300;
font-style: italic;
border-bottom: 3px solid rgb(11, 231, 11);
height: 35px;
width: 100px;
margin-left: 120px;
margin-top: 4%;
}